@charset "utf-8";
/* webfont */
/* 웹폰트없으면 지우세요!!! */
html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
em,
img,
small,
strong,
b,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tr,
th,
td,
article,
aside,
footer,
header,
nav,
section,
summary,
video,
* {
    padding: 0;
    margin: 0;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
html{
     /* Prevent font scaling in landscape */

     -webkit-text-size-adjust: none; /*Chrome, Safari, newer versions of Opera*/

     -moz-text-size-adjust: none; /*Firefox*/

     -ms-text-size-adjust: none;  /*Ie*/

     -o-text-size-adjust: none; /*old versions of Opera*/
}
body{
    font-family: 'Pretendard';
    font-size: 14px;
    line-height: 1.5;
    font-weight: 500;
    color: #333;
}
#wrap{
    min-width: 1360px;
}


/* header 꾸미기 */

#header {
    background-color: #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    box-sizing: border-box;
}

.inner-header {
    height: 80px;
    position: relative;
    text-align: center;
}

.inner-header .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.inner-header .gnb {
    position: absolute;
    left: 35px;
    top: 50%;
    transform: translateY(-50%);
    width: unset;
    display: flex;
    align-items: center;
}

.inner-header .gnb li {
    padding-right: 45px;
    font-weight: 700;
}

.inner-header .gnb li:hover {
    color: #ccc;
}

.inner-header .header-right {
    position: absolute;
    right: 35px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
}

.inner-header .header-right li {
    padding-left: 40px;
}

.inner-header .header-right li a img {
    display: block;
    width: 20px;
    padding: 10px 0;
    box-sizing: border-box;
}

.header-right select {
    border: none;
    padding: 10px 10px;
    text-align: center;
}

.header-right select option {
    padding: 10px 10px;
    text-align: center;
}



/* container 꾸미기 */
#container {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: start;

    position: relative;

    padding-bottom: 100px
}

.contents {
    width: 100%;
    padding-top: 80px;
    box-sizing: border-box;
    vertical-align: top;
    box-sizing: border-box;
}

.contents img {
    width: 100%;
    display: block;
}


/* infoarea 꾸미기 */

.infoarea {
    width: 100%;
    padding: 150px 150px 0 150px;
    box-sizing: border-box;
    vertical-align: top;

    position: sticky;
    top: 0;
    left: 0;

    height: calc(100vh - 40px);
    overflow-y: auto;
    overflow-x: hidden;

    /* 2. 브라우저별 스크롤바 숨김 처리 */
    -ms-overflow-style: none; /* 인터넷 익스플로러, 엣지 */
    scrollbar-width: none;  /* 파이어폭스 */
}

/* 3. 크롬, 사파리, 오페라에서 스크롤바 숨김 */
.infoarea::-webkit-scrollbar {
    display: none;
}

.product-price-info {
    border-bottom: 1px solid #333;
    margin-bottom: 25px;
}

.product-price-info .name {
    font-size: 28px;
    display: flex;
    align-items: center;
}

.product-price-info .name span {
    font-size: 14px;
    font-weight: 500;
    margin-left: 20px;
    padding: 2px 8px;
    border-radius: 5px;
    background-color: #ccc;
    color: #fff;
}

.product-price-info .price {
    font-size: 23px;
    text-decoration: line-through;
}

.product-price-info .sale {
    font-size: 23px;
    padding-bottom: 25px;
}


.table-opt {
    border-bottom: 1px solid #333;
}

.table-opt strong {
    font-size: 18px;
    font-weight: 500;
}


/* seasons-wrap 꾸미기 */

.seasons-wrap {
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.seasons-wrap .seasons {
    margin-right: 80px;
}

.seasons-opt {
    display: flex;
}

.seasons-opt li {
    text-align: center;
    margin-right: 15px;
}

.seasons-opt li a {
    display: inline-block;
    width: 170px;
    padding: 17px 0;
    box-sizing: border-box;
    border: 1px solid #333;
    border-radius: 10px;
}

.seasons-opt li a:hover {
    background-color: #333;
    color: #fff;
}



/* color-wrap 꾸미기 */

.color-wrap {
    display: flex;
    margin-top: 25px;
}

.color-wrap .color {
    white-space: nowrap;
    padding-right: 68px;
}

.color-opt {
    display: flex;
    flex-wrap: wrap;
    padding-left: 12px;
}

.color-opt li {
    margin-right: 15px;
    display: flex;
    align-items: center;
    width: 170px;
    border: 1px solid #333;
    font-size: 12px;
    padding: 10px 0;
    border-radius: 10px;
    margin-bottom: 15px;
    cursor: pointer;
}

.color-opt li:nth-child(3) {
    margin-right: 0;
}

.color-opt li:nth-child(6) {
    margin-right: 0;
}

.color-opt li a {
    display: inline-block;
}

.color-opt li:hover {
    background-color: #333;
    color: #fff;
}

.color-opt li a img {
    display: block;
    padding-right: 6px;
    padding-left: 7px;
}


/* size-wrap 꾸미기 */

.size-wrap {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 25px;
}

.size-wrap .size {
    margin-right: 68px;
}

.size-opt {
    display: flex;
}

.size-opt li {
    text-align: center;
    margin-right: 15px;
}

.size-opt li a {
    display: inline-block;
    width: 170px;
    padding: 17px 0;
    box-sizing: border-box;
    border: 1px solid #333;
    border-radius: 10px;
}

.size-opt li a:hover {
    background-color: #333;
    color: #fff;
}




/* extra-opt 꾸미기 */

.extra-opt {
    margin-top: 25px;
}

.extra-opt strong {
    font-size: 18px;
    font-weight: 500;
}

/* product-opt 꾸미기 */

.product-opt {
    margin-top: 25px;
}

.xans-record {
    width: 100%;
    border: 1px solid #333;
    padding: 25px 25px;
    box-sizing: border-box;
}

.xans-record:nth-child(1), .xans-record:nth-child(2), .xans-record:nth-child(3) {
    border-bottom: none;
}

.xans-record:nth-child(1) {
    border-radius: 10px 10px 0 0;
}

.xans-record:nth-child(4) {
    border-radius: 0 0 10px 10px;
}

.xans-record .information {
    display: flex;
}

.xans-record .img-wrap img {
    width: 117px;
    height: 152px;
}

.xans-record .information .text {
    padding-left: 10px;
}


.information .text .price {
    text-decoration: line-through;
    margin-top: 15px;
}


.xans-record .option {
    padding-left: 125px;
    margin-top: -50px;
}

.xans-record .option li:nth-child(2) {
    margin-top: 20px;
}

.xans-record .option li p {
    padding-bottom: 10px;
}

.xans-record .option select {
    width: 100%;
    padding: 12px 15px;
    border-radius: 10px;
}



/* total-price 꾸미기 */
.total-price {
    margin-top: 25px;
    text-align: right;
    font-size: 18px;
}

.total-price span {
    font-size: 24px;
    font-weight: 700;
    padding-left: 40px;
    padding-right: 5px;
}


/* cart-btn 꾸미기 */
.cart-btn {
    width: 100%;
    text-align: center;
    border: 1px solid #333;
    padding: 15px 0;
    margin-top: 25px;
    cursor: pointer;
    border-radius: 10px;
}

.cart-btn p {
    font-size: 20px;
}

.cart-btn:hover {
    background-color: #333;
    color: #fff;
}


/* buy-btn 꾸미기 */
.buy-btn {
    width: 100%;
    text-align: center;
    border: 1px solid #333;
    padding: 15px 0;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 10px;
}

.buy-btn p {
    font-size: 20px;
}

.buy-btn:hover {
    background-color: #333;
    color: #fff;
}



/* footer 꾸미기 */
#footer {
    background-color: #F5F5F5;
    padding: 150px 133px 80px 133px;
    box-sizing: border-box;
}

.section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 92px;
}

.footer-img img {
    display: block;
}

#footer .about p {
    font-size: 24px;
    margin-bottom: 15px;
}

#footer .about .bottom {
    margin-bottom: 50px;
}

.brandinfo {
    display: flex;
    justify-content: space-between;
}

#footer .contact p {
    font-size: 24px;
    margin-bottom: 15px;
}

#footer .contact .margin {
    margin: 40px 0;
}

#footer .offline-shop p {
    font-size: 24px;
    margin-bottom: 15px;
}

#footer .offline-shop .margin {
    margin: 40px 0;
}